<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <% include ../partials/header %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% posts.forEach(function(post) { %>
                <div class="post-preview">
                    <a>
                        <h2 class="post-subtitle">
                            <%= post.content %>
                        </h2>
                    </a>
                    <p class="post-meta">Posted at <%= post.createdAt %></p>
                </div>    
                <hr>
                <% }); %>
                <!-- Pager -->
                <%#
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
                %>
            </div>
        </div>
    </div>

    <hr>


    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>